# Src: https://github.com/jonashackt/docker-hello-world/blob/main/.github/workflows/publish.yml
name: publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the Docker image
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
        run: |
          docker build . --tag ghcr.io/bunnymediaserver/proto-builder:${{github.ref_name}}
          # docker run ghcr.io/BunnyMediaServer/proto-builder:latest
          docker push ghcr.io/bunnymediaserver/proto-builder:${{github.ref_name}}
